ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

li a:hover {
    background-color: deepskyblue;
}

#CopyRight {
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
}


#devFoot{
    font-weight: bold;
    color: deepskyblue;
    font-family: "Helvetica Neue", Arial, sans-serif;
}


#logButton{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}



#tec1{
    display: block;
    margin: 0 auto;
}

h1 { color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0; }
    
#loginButton{
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}

#loginButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background-color:#5cb811;
}

#postCommentButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}

#postCommentButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background-color:#5cb811;
}


#readClassroomBtn {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}

#readClassroomBtn :hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background-color:#5cb811;
}

.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color:#77d42a;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  cursor:pointer;
  color:#306108;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
}

.btn :hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
  background-color:#5cb811;
}


input[type=string], input[type=password],textarea,.Passwrd{
    width: 8cm;
    padding: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-left: 100px;
    border-radius: 4px;
}


#images{
    width:50%; 
    float:left;
    /*background-color:red;*/
}


.tablerow{
    text-align: center;
}

#images2{
    width:50%; 
    float:left;
   /* background-color:blue;*/
}

#CommLeft {
  width:50%; 
  float:left;
  background-color: transparent;
}

#CommRight{
  width:50%; 
  float:right;  
  background-color: transparent;
}
#Right{
  padding-left: 1cm;
  margin-bottom: 1cm;
  background-color: transparent;
}
#Left{
  padding-left: 1cm;
  margin-bottom: 1cm;
  background-color: transparent;
}
 
#menupickC{
padding-bottom:0.5cm;
padding-left:0.5cm;
padding-right:0.5cm;
padding-top: 0.5cm;
background-color:dimgray;   

}

table {
    font-family: arial, sans-serif;
    width: 100%;
    text-align: center
    
}

.tableHeader{
    background-color: #333333;
    color: f2f2f2;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
    text-align: center;
}


.SelectClassroom{
    text-align: center;
    font-family: arial, sans-serif;
}
 

caption { 
    display: table-caption;
    text-align: center;
}
.searchBtn {
  -moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
  -webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
  box-shadow:inset 0px 0px 14px -3px #f2fadc;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
  background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
  background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
  background-color:#dbe6c4;
  -moz-border-radius:42px;
  -webkit-border-radius:42px;
  border-radius:42px;
  border:1px solid #b2b8ad;
  display:inline-block;
  cursor:pointer;
  color:#757d6f;
  font-family:Arial;
  font-size:17px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ced9bf;
}
.searchBtn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
  background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
  background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
  background-color:#9ba892;
}
.searchBtn:active {
  position:relative;
  top:1px;
}

#inCNum{
  margin-left: -.5cm;
  margin-bottom: 1cm;
}

#room{
  font-size: 30px;
  text-align: center;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

.Fav{
  display: block;
  border-radius: 0px;
  margin-bottom: 0.5cm;
  color:black;

}


#slideshow {
  position: relative;
  width: 600px;
  height: 390px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);

}

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  width: 600px ; 
  height: 390px;
}




.hovereffect {
width:598px;
height: 390px;
/*float:left;*/
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:600px;
height:390px;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

/*
.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}
*/
.hovereffect:hover h2,.hovereffect:hover {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.pBanner{
    margin: 10px 110px;
} 

.imageBanner {
    text-align: center;
    padding-bottom: .5cm;
    padding-top: .5cm;
    padding-left: .5cm;
    padding-right: .5cm;
}